

.timelineTitle {
    color: #00ffff;
    font-size: 42px;
    margin-top: 50px;
    text-align: center;
}

* {
    box-sizing: border-box;
}

    /* CONTAINER AROUND CONTENT */
.container {
    padding: 10px 40px;
    position: relative;
    background-color: inherit;
    width: 50%;
}

h2 {
    padding: 1px 1px;
    position: relative;
    background-color: #00ffff;
    width: 21%;
}

p {
    color: #ffffff;
}
/* The circles on the timeline */
.container::after {
    content: '';
    position: absolute;
    width: 25px;
    height: 25px;
    right: -17px;
    background-color: white;
    border: 4px solid #FF9F55;
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

    /* BACKGROUND COLOR AND FONT FOR TIMELINE */
body {
    background-color: #181818;
    font-family: 'Courier New', Courier, monospace;
}

    /* VERTICLE DIVIDER */
.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

    /* THE ACTUAL DIVIDER VERTICLE LINE */
.timeline::after {
    content: '';
    position: absolute;
    width: 5px;
    background-color: #ffffff;
    top: 0px;
    bottom: 0;
    margin-left: -3px;
    left: 50%;

}

/* Place containers to the LEFT */
.left {
    left: 0;
  }

/* Places the container to the RIGHT */
.right {
    left: 50%;
  }

  /* Fixes the circle for containers on the right side */
.right::after {
    left: -16px;
  }
  
  /* Gives each event box a transparent border */
  .event {
    padding: 20px 30px;
    background-color: transparent;
    position: relative;
    border-radius: 7px;
  }
    .event:nth-child(1){
    background-image: url("images/firstcat.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}

.event:nth-child(2) {
    background-image: url("images/secondcat.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    
}
.event:nth-child(3){
    background-image: url("images/thirdcat.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}



/* Adds arrows to the left container (pointing right) */
.left::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    right: 30px;
    border: medium solid white;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
  }

  /* Adds arrows to the right container (pointing left) */
.right::before {
    content: " ";
    height: 0;
    position: absolute;
    top: 22px;
    width: 0;
    z-index: 1;
    left: 30px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

 /* Media query: makes timeline adapt to screens less than 768px */
@media screen and (max-width: 768px) {
    /* moves the timelime to the left */
      .timeline::after {
        left: 31px;
      }

      /* Full-width containers within query */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

  /* Make sure that all arrows in query are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
  }

  /* Make sure all circles are at the same spot in query */
  .left::after, .right::after {
    left: 15px;
  }

  /* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
    }